# ========================
# Node.js (FE & BE)
# ========================
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# ========================
# Build output
# ========================
**/dist/
**/build/
**/.next/
**/out/
**uploads/

# ========================
# Logs
# ========================
**/logs/
**/*.log

# ========================
# OS / Editor
# ========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# ========================
# Environment Variables
# ========================
**/.env
**/.env.*
!**/.env.example

run_dev.sh

# ========================
# Temporary / Debug Scripts
# ========================
**/temp/
