APP_DEBUG=true

APP_PORT=8000
APP_SERVER=http://127.0.0.1
ORIGIN1=http://localhost:3000

DB_DBMS=mysql2
DB_HOST=127.0.0.1
DB_USERNAME=root
DB_PASSWORD=
DB_DATABASE=db_magang
DB_PORT=3306

USER_KEY=
USER_PAS_KEY=
USER_SECRET=

MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
